[submodule "dotfiles/.vim/bundle/nerdtree"]
	path = dotfiles/.vim/bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "dotfiles/.vim/bundle/scss"]
	path = dotfiles/.vim/bundle/scss
	url = https://github.com/cakebaker/scss-syntax.vim.git
[submodule "dotfiles/.vim/bundle/vim-coffee-script"]
	path = dotfiles/.vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "dotfiles/.vim/bundle/vim-less"]
	path = dotfiles/.vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "dotfiles/.vim/bundle/gundo"]
	path = dotfiles/.vim/bundle/gundo
	url = https://github.com/vim-scripts/Gundo.git
[submodule "dotfiles/.vim/bundle/syntastic"]
	path = dotfiles/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "dotfiles/.vim/bundle/neocomplcache"]
	path = dotfiles/.vim/bundle/neocomplcache
	url = https://github.com/Shougo/neocomplcache
[submodule "dotfiles/.vim/bundle/vim-css-color"]
	path = dotfiles/.vim/bundle/vim-css-color
	url = https://github.com/ap/vim-css-color
[submodule "dotfiles/.vim/bundle/ctrlp"]
	path = dotfiles/.vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule "dotfiles/.vim/bundle/vim-surround"]
	path = dotfiles/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "dotfiles/.vim/bundle/vim-showmarks"]
	path = dotfiles/.vim/bundle/vim-showmarks
	url = https://github.com/vimez/vim-showmarks.git
[submodule "dotfiles/.vim/bundle/yankring"]
	path = dotfiles/.vim/bundle/yankring
	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule "dotfiles/.vim/bundle/vim-jst"]
	path = dotfiles/.vim/bundle/vim-jst
	url = https://github.com/briancollins/vim-jst
